<h1>Hey #<%= @personId %></h1>
<p>Hello </p>
<div>What an awesome page we have here!</div>
<!-- 
<%= 1+1 %>
<% target = "World" %>
<%= "Hello #{target}" %>
-->

<!-- Instance variables created in Controller are automatically available here! -->

<% @array.each do |n| %>
	<br/>
	<%= link_to("#{target}_#{n}",{:action => 'hello', :id => 2, :pid => 88}) %>
	<!-- <br/><a href='http://www.lynda.com'><%= n %>. Welcome to Lynda.com </a> -->
<% end %>
